.nav-link {
  margin-top: 50px;
}

.main-title {
  margin-top: 100px;
}

div {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
}

.form-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

input:hover {
  border: 1px solid #000;
}

textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
}

button {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  margin-top: 10px;
  border: none;
  color: #fff;
  background: #4e75ff;
}

button:hover {
  background: #6c8cff;
}
